<section class="row">
  <div class="col-6 mx-auto my-0">
    <div class="card mt-4">
      <div class="card-header" style="text-align: center;">
        <h6> Đăng nhập</h6>
      </div>
      <div class="card-body mx-5 mt-3">
        <form name="frmDangNhap">
          <div class="row">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input required name="txtTenTK" ng-model="fullname" type="text" class="form-control"
                  aria-label="Amount (to the nearest dollar)" placeholder="Tài khoản">
              </div>
              <small ng-hide="frmDangNhap.txtTenTK.$valid" class="form-text text-muted">Tài khoản không được để
                trống</small>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input required name="txtMatKhau" ng-model="passWord" type="password" class="form-control"
                  aria-label="Amount (to the nearest dollar)" placeholder="Mật khẩu">
              </div>
              <small ng-hide="frmDangNhap.txtMatKhau.$valid" class="form-text text-muted">Mật khẩu không được để
                trống</small>
            </div>
          </div>
          <div class="row text-center">
            <div class="form-group col ">
              <button type="submit" class="btn btn-default" ng-click="login()">
                <i class="fas fa-sign-in-alt"></i> Đăng nhập
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>