.gioiThieu{
    font-size: 1.4em;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px dotted gray;
}

.content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    font-weight: bold;
}
.hoidap{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.h55 h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input.ng-invalid{
    background-color: yellow;
}

